# Datos Alumnos

In [1]:
import pandas as pd
import numpy as np

In [2]:
from ydata_profiling import ProfileReport

/Users/sjaremczuk/Library/Caches/pypoetry/virtualenvs/tesis-ds-polkNLC9-py3.9/lib/python3.9/site-packages/numba/core/decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
/Users/sjaremczuk/Library/Caches/pypoetry/virtualenvs/tesis-ds-polkNLC9-py3.9/lib/python3.9/site-packages/visions/backends/shared/nan_handling.py:51: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def hasna(x: np.ndarray) -> bool:

In [3]:
datdf = pd.read_csv('../data/interim/datdf.csv')
print('dat shape: ',datdf.shape)

dat shape:  (24839, 10)

In [4]:
datdf.columns

Index(['codigo_alumno', 'pais', 'localidad', 'provincia', 'titulo_secundario',
       'estado_civil', 'sexo', 'año_nacimiento', 'año_ingreso',
       'codigo_propuesta'],
      dtype='object')

In [5]:
datdf.head()

,codigo_alumno,pais,localidad,provincia,titulo_secundario,estado_civil,sexo,año_nacimiento,año_ingreso,codigo_propuesta
0,27,NaN,NaN,NaN,NaN,Casado,M,1974,1993,K
1,53,NaN,NaN,NaN,NaN,Soltero,M,1974,1999,K
2,58,NaN,NaN,NaN,NaN,Soltero,M,1974,1995,K
3,72,NaN,NaN,NaN,NaN,Soltero,M,1974,1995,K
4,86,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,NaN,Soltero,M,1974,1999,K

# Criterios de limpieza

## Criterios

basados en el análsis del dataset hecho en el notebook 02_Analisis_Datos_Alumnos.ipynb

* `codigo_alumno`
    - id
* `pais`
    - decision -> `eliminar la variable`
    - la mayoria es argentina 74.9%
    - 25% missing -> no esta mal
    - puedo dejarlo por casos particulares pero al no tener varianza no ayuda
* `localidad`
    - analizarlo mas en profundidad para tomar decision
* `provincia`
    - muy desbalanceado pero podria funcionar para algunas cosas
    - caba 46%, bs as 26%, missing 25%, y otros menores de 1%
* `titulo_secundario`
    - decisión -> `eliminar variable`
    - 51% de missing
    - se puede usar para profundizar algun análisis particular si vale la pena
* `estado_civil`
    - decision -> `eliminar variable`
    - muy desbalanceado
    - 92% soltero
    - se podria utilizar para algun analisis particular
    - dato no actualizado a través dle tiempo
* `sexo`
    - 83,4% M - 16,6% F
* `año_nacimiento`
    - decisión -> `usar variable`
    - tiene errores y outliers (nacimeinto en 1900 por ejemplo)
    - arreglar con criterio esos casos
    - modificar el nombre para sacar la letra ñ
* `año_ingreso`
    - decisión -> `usar variable`
    - hay casos viejo
        - el percentil 5 ya es 1999 de ingreso que podria ser un criterio para evitar problemas de outliers y fata de información en planes viejos y ese tipo de cosas
    - hay que analizar si las personas que año de ingreso viejos terminaron la facultad
* `codigo_propuesta`
    - decision -> `usar variable`
    - tener en cuenta que debe ser cuando ingresa peo tmb pudo haber cambaido de carrera
        - usar codigo de materia para saber eso
    - 9701 K, 3628 R, 3116 S, 2777 V, etc

In [9]:
# variables a usar
vars = ['codigo_alumno', 'sexo', 'año_nacimiento', 'año_ingreso', 'codigo_propuesta']

df = datdf[vars].copy()

## Analsis duplicados

In [15]:
alumnos = df[df.duplicated()]['codigo_alumno'].unique()
# filtrar datdf con alumnos en variable codigo_alumno
duplicados = datdf[datdf['codigo_alumno'].isin(alumnos)].copy()
duplicados.sort_values(by=['codigo_alumno'], inplace=True)
duplicados

,codigo_alumno,pais,localidad,provincia,titulo_secundario,estado_civil,sexo,año_nacimiento,año_ingreso,codigo_propuesta
6629,43435,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,BACHILLER,Soltero,M,1981,2005,R
6630,43435,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,MAESTRO MAYOR DE OBRA,Soltero,M,1981,2005,R
6955,44872,Argentina,VALENTIN ALSINA,Buenos Aires,BACHILLER,Casado,M,1960,1999,R
6956,44872,Argentina,VALENTIN ALSINA,Buenos Aires,TÉCNICO ELECTRONICO,Casado,M,1960,1999,R
7097,45142,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,TÉCNICO MAESTRO MAYOR DE OBRAS,Soltero,F,1985,2008,R
7098,45142,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,NaN,Soltero,F,1985,2008,R
8564,47454,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,TÉCNICO AVIÓNICO,Soltero,M,1986,2015,R
8565,47454,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,NaN,Soltero,M,1986,2015,R
12700,53573,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,TÉCNICO ELECTRONICO,Soltero,F,1997,2016,R
12699,53573,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,PRODUCCIÓN DE BIENES Y SERVICIOS,Soltero,F,1997,2016,R
12920,53878,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,TÉCNICO ELECTROMECANICO,Soltero,M,1990,2009,Q
12921,53878,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,TÉCNICO MECANICO ELECTRICISTA,Soltero,M,1990,2009,Q
14558,57537,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,BACHILLER CON ORIENTACION EN CIENCIAS NATURALES,Soltero,M,1998,2017,K
14559,57537,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,BACHILLER EN CIENCIAS NATURALES,Soltero,M,1998,2017,K
16803,60224,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,BACHILLER EN CIENCIAS NATURALES,Soltero,M,1987,2009,V
16804,60224,Argentina,CABA - Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,NaN,Soltero,M,1987,2009,V
24493,79588,Argentina,FLORIDA,Buenos Aires,BACHILLER CON ORIENTACION EN ECONOMIA Y ADMINI...,Soltero,M,1995,2014,K
24494,79588,Argentina,FLORIDA,Buenos Aires,BACHILLER EN ADMINISTRACION,Soltero,M,1995,2014,K

#### Conclusion duplicados

- los duplicados se dan por tener mas de 1 titulo secundario
    - `se eliminan los duplicados`

In [16]:
df = df.drop_duplicates()

In [17]:
df.shape

(24830, 5)

In [18]:
df.head()

   codigo_alumno sexo  año_nacimiento  año_ingreso codigo_propuesta
0             27    M            1974         1993                K
1             53    M            1974         1999                K
2             58    M            1974         1995                K
3             72    M            1974         1995                K
4             86    M            1974         1999                K

In [19]:
df.columns = ['codigo_alumno', 'sexo', 'anio_nacimiento', 'anio_ingreso', 'codigo_carrera_ingreso']

In [20]:
df.head()

   codigo_alumno sexo  anio_nacimiento  anio_ingreso codigo_carrera_ingreso
0             27    M             1974          1993                      K
1             53    M             1974          1999                      K
2             58    M             1974          1995                      K
3             72    M             1974          1995                      K
4             86    M             1974          1999                      K

# Pendientes

- analizar los años de nacimiento viejos y los años de ingreso viejos a ver si hicieron materias y hasta que año para ver si dejarlos o no por si falta informción. Esto se hace ya cuando juntemos los datasets con cursadas y/o finales

# Reportes

In [24]:
dfpr = ProfileReport(df, title="Datos Alumnos - Profiling Report")
dfpr.to_file("reportes/Alumnos_DatosReducidos_ProfileReport.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Guardar datasets

In [23]:
df.to_csv('../data/interim/datdf_clean.csv', index=False)